.postInfoBox {
  padding: 20px;
}

.postInfoButtonBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.postInfoTitle {
  color: #333;
  margin-bottom: 15px;
}

.postInfoBox p {
  padding: 5px;
  margin-right: 10px;
}

.postInfoBox p svg {
  color: gray;
}

.postInfoContent {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .postInfoBox {
    padding: 0px;
  }

  .postInfoBox p {
    padding: 0px;
  }

  .postInfoContent {
    font-size: 0.7rem;
    padding: 0px;
  }
}
