.postWriteForm {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.postWriteForm label {
  margin-top: 10px;
}

.postWriteForm input,
textarea {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid gainsboro;
}

.postWriteForm button {
  margin-top: 10px;
  width: 100px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #488dfc;
  color: white;
}

.contentInput {
  height: 400px;
  margin-bottom: 3.5rem;
}
