.postWriteForm {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.postWriteForm label {
  margin-top: 10px;
}

.postWriteForm input,
textarea {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid gainsboro;
}

.contentInput {
  height: 400px;
  margin-bottom: 3.5rem;
}

@media screen and (max-width: 768px) {
  .postWriteButton {
    margin-top: 20px;
  }
}
