.postInfoBox {
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
}

.postInfoButtonBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.postInfoTitle {
  color: #333;
  margin-bottom: 15px;
}

.postInfoBox p {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
}

.postInfoBox p svg {
  color: gray;
}

.postInfoContent {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #afafaf;
  border-radius: 8px;
  /* 띄어쓰기 적용 */
  white-space: pre-wrap;
}

.postInfoComment {
  margin-top: 30px;
}

.postComment {
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.postComment span {
  font-weight: bold;
}
