.homeMain {
  display: flex;
  flex-direction: column;
}

.homeContainer {
  display: flex;
  justify-content: space-between;
}

.homeMain,
.homeAside {
  flex: 1; /* 두 컬럼 모두 화면의 50%를 차지하도록 설정 */
}

.homeAside {
  padding: 0 10px;
}

.homeAside h3 {
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
  /* display: inline; */
}

.homeAside ul {
  list-style: none;
  padding: 0;
}

.homeAside li {
  margin-bottom: 3px; /* 아이템 간격 */
  padding: 5px;
  cursor: pointer;
}
.homeAside li:hover {
  font-weight: bold;
  color: #3b4890;
}

.homeMain svg {
  margin-right: 10px;
  color: navy;
}

.homeMain h3 {
  margin: 10px 0;
}

.homeMain li,
p {
  margin: 3px 0;
}

.latestVisitors {
  margin-top: 3rem;
}
