.visitorWriteForm {
  display: flex;
  flex-direction: column;
}

.visitorWriteForm label {
  margin-top: 10px;
}

.visitorWriteButton {
  margin-top: 30px;
}

.visitorWriteForm input {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid gainsboro;
  margin-top: 15px;
}

.checkBox {
  margin-right: auto;
  margin-top: 10px;
  margin-left: 3px;
  transform: scale(1.2);
}

.contentInput {
  height: 400px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .contentInput {
    margin-bottom: 60px;
  }
}
