.visitorInfoBox {
  margin: auto;
  padding: 20px;
}

.visitorInfoButtonBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.visitorInfoButtonBox .delButton {
  background-color: rgb(255, 63, 63);
}

.visitorInfoTitle {
  color: #333;
  margin-bottom: 15px;
}

.visitorInfoBox p {
  padding: 5px;
  margin-right: 10px;
}

.visitorInfoBox p svg {
  color: gray;
}

.visitorInfoContent {
  margin-top: 20px;

  /* 띄어쓰기 적용 */
  white-space: pre-wrap;
}

.visitorInfoComment {
  margin-top: 30px;
}

.visitorComment {
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.visitorCommentt span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .visitorInfoBox {
    padding: 0px;
  }

  .visitorInfoContent {
    font-size: 0.7rem;
  }

  .visitorInfoContent {
    padding: 0px;
  }
}
