.nav {
  font-size: 0.8rem;
}

.navList {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #212121;
  border-radius: 5px;
  color: white;
}

.navList li {
  margin-left: 5px;
  padding: 10px;
  font-size: 1.1rem;
}

.navList .navVisitor {
  margin-left: -10px;
}

/* 모바일 */
@media (max-width: 768px) {
  .navList li {
    font-size: 0.7rem;
  }
}
