.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 1.5rem;
}

.header h2 {
  font-size: 2rem;
}

.LoginRegisterDiv a {
  margin: 0rem 0.5rem;
}
