.navList {
  display: flex;
  align-items: center;
  flex-direction: row;

  background-color: grey;
  border-radius: 5px;
  color: white;
}

.navList li {
  margin-left: 5px;
  padding: 10px;
  font-size: 1.1rem;
}

.navList .navVisitor {
  margin-left: -10px;
}
