.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 2rem;
}

.pageLink {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  margin: 0px 3px;
}

.pageLink:hover {
  background-color: #eee;
  cursor: pointer;
}

.pageLink a:hover {
  color: #333;
}

.active {
  background-color: #212121;
  color: #fff;
}

.disabledLink {
  color: #ccc;
  cursor: not-allowed;
}

.previousButton,
.nextButton {
  margin: 0 3px;
  cursor: pointer;
}
