.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.searchInput {
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 0.875rem;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.searchSelect {
  padding: 3px 6px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

@media screen and (max-width: 768px) {
  .searchSelect {
    font-size: 0.7rem;
  }

  .searchInput {
    font-size: 0.7rem;
  }
}
